<!--TERMINADO POR AHORA-->


/*Estilo css*/

html{
    font-family: 'Slabo 27px', serif;
}

/*Estilo del body*/

body{
    margin: 0;
    color: black;
    height: 100%;
    background-image: url(pics/fondo.jpeg);
    background-size: cover;
}

/*Estilo del titulo*/

header{
    text-align: center;
    padding: 10px;
    background-image: white;
    font-size: x-large;
    color: green;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}

/*Configuracion del menu*/

#menu{
    margin: auto;
    width: auto;
    font-size: large;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

.nav li a{
    background-color: rgba(128, 128, 128, 0.5);
    color:black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#sinmod{
    color:black;
    text-decoration: none;
    padding: 10px 20px 10px 5px;
    display: block;
}

.nav li a:hover{
    background-color: rgba(181, 178, 178, 0.5);
    text-decoration: underline;
    text-decoration-color: black;
    border-bottom: 1px solid #333;
}

.nav > li {
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 2rem;
}

.nav li:hover > ul{
    display:block;
    position: inherit;
}

/*Introduccion (titulo)*/

.intro{ 
    clear: both;
    margin-top: 20px;
    padding-top: 40px;
    margin-left: 20px;
    color: green;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
    font-size: xx-large;
}

/*Introduccion (párrafo)*/

.primer_p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: x-large;
    color: black;
}

/*Segundo h2*/

.intro_2{ 
    clear: both;
    margin-top: 20px;
    padding-top: 40px;
    margin-left: 20px;
    color: green;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black;
    font-size: xx-large;
}

/*Segundo párrafo*/

.segundo_p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: x-large;
    color: black;
}

/*Footer (EDITAR!!)*/

.footer{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
}

#link_troll{
    color: black;
    font-size: x-large;
    margin: 24px;
}

#link_troll:hover{
    cursor: pointer;
}

.i_footer{
    display: flex;
    color: rgb(216, 216, 86);
    justify-content: space-around;
}